<div class="main container">
  	<div class="jumbotron">
		<div class="page-header">
		  <h2 class="text-center">New York Times Article Scrubber</h2>
		  <hr>
		</div>
	</div>
	<div class="well">

		<!-- Search Panel -->
		<div class="panel panel-default">
			<div class="panel-heading text-center"><h4>Search</h4></div>
			<div class="panel-body">
			<!-- search input form -->
				<form action="/search" method="GET">
				  <div class="form-group">
				    <label for="topic">Topic</label>
				    <input type="text" class="form-control" maxlength="70" id="topic" name="topic" required>
				  </div>
				  <div class="form-group">
				    <label for="start-year">Start Date (YYYYMMDD)</label>
					<input type="date" name="quantity"  min="19000101"  max="20170228" class="form-control" id="start-year" name="startyear">
				  </div>
				  <div class="form-group">
				    <label for="end-year">End Year (YYYYMMDD)</label>
				    <input type="date" name="quantity" min="19000101" max="20170228"  class="form-control" id="end-year" name="endyear">
				  </div>
				  <button type="submit" name="search" class="btn btn-default">Search</button>
				</form>

			</div>
		</div>
		<!-- Results Panel -->
		<div class="panel panel-default">
			<div class="panel-heading text-center"><h4>Results</h4></div>
			<div class="panel-body">
				{{!--for each in here--}}
				<div class="well">
					<div class="row">
						<div clas="col-sm-8">
							<p class="results"></p>
						</div>
						<div clas="col-sm-4">
							<form action="/api/saved" method="POST">
								<button>Saved</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Saved Articles Panel -->
		<div class="panel panel-default">
			<div class="panel-heading text-center"><h4>Saved Articles</h4></div>
			<div class="panel-body">
				{{!--for each in here - results of a /api/saved GET--}}
				<div class="well">
					<div class="row">
						<div clas="col-sm-8">
							<p class="results"></p>
						</div>
						<div clas="col-sm-4">
							<form method="POST" action="/api/saved?_method=DELETE">
								<button>Remove</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<!-- This part goes into index.html SPA-->
            
		